.menu-left {
  width: 6em;
  float: left;
  margin: 1.2em;
  padding: 0.8em;
  border: solid black;  
}

.content {
  width: 30em;
  float: left;
  margin: 1.2em;
  padding: 0.8em;
  border: solid black;
}

.cursive {
  font-family: cursive;
}

.bold {
  font-weight: bold;
}

.article-title {
  font-size: 2em;
  margin-bottom: 0.5em;
}
